body {
  margin:0;
  padding:0;
  height:100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

.backDoor
{
  background-color: #333;
  position:relative;
  width:200px;
  height:300px;
  
  margin: 0 auto;
  margin-top:50px;
}

.door
{
  background-color: brown;
  position:absolute;
  display: grid;
  top:0px;
  left:0px;
  width:200px;
  height:300px;
  grid-template-columns: auto auto;

  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpen
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

.silhouette
{   
    background-color: peru;
    margin: 10px;

    transform-origin: left;
    /*Speed of the silhouette animation*/
    transition: all 0.65s ease-out;
}

.top_silhouette{
  background-color: chocolate;
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
  height: 85%;
  width: 80%;
  box-shadow: 0 0 1.5px black;

  transform-origin: left;
  /*Speed of the silhouette animation*/
  transition: all 0.65s ease-out;
}

.knob
{
    background-color: yellow;
    position:absolute;
    top:47%;
    right:0px;
    margin-right:7px;
    width:27px;
    height:27px;
    border-radius:100%;
    box-shadow: 3px 3px 3px black;

    transform-origin: left;
    /*Speed of the Knob animation*/
    transition: all 0.65s ease-out;
}

.knobOpen
{
     /*disapper knob when door open*/
    background-color: brown;
    box-shadow: none;
}

/*settings in full screen for navbar*/
.navbar{
  position: absolute;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 30px;
  width: 80%;
  height: 75px;
  background-color: aqua;
}

/*settings in full screen for logo*/
.logo{
  margin-left: 32.5%;
  margin-right: 32.5%;
  width: 35%;
  height: 140%;
  border-radius: 15px;
  background-color: blue;
}

.presentation{
  padding-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 30rem;
}

.presentation-text{
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: aut;
}

.presentation-img{
  float: right;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

.img-p{
  margin-top: 10px;
  width: 7.5rem!important;
  height: 7.5rem!important;
}

.img-c{
  position: relative;
  width: 50rem!important;
  height: 40rem!important;
  border-radius: 1.5rem!important;
  border-style: solid;
  border-width: 0.2rem!important;
  border-color: green;
}

.carousel {
  margin-left: 10%;
  margin-right: 10%;
}

hr{
  border: 0;
  height: 1px;
  width: 50%;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}