body{
  position: relative;
}

body::after{
  content: '';
  display: block;
  height: 30vh;
}

.top{
    text-align: center;
}
.img-c{
    height: 500px !important;
}
.carousel{
    margin-top: 7.5rem;
    text-align: center;
    z-index: -1;
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    box-shadow: 0px 7px 28px -11px #000000;
}

@media only screen and (max-width: 800px) {
    .carousel {
      margin-left: 5%;
      margin-right: 5%;
    }
  }

.header{
    margin-top: 45px;
    text-align: center;
    background-color: rgb(130, 94, 49);
    width: 40%;
    height: 50px;
    position: relative;
    top: 0;
    border-radius: 5px;
    margin-left: 32.5%;
    margin-right: 32.5%;
    z-index: 999;
    box-shadow: 0px 7px 28px 4px rgb(0, 0, 0);
    padding-top: 4px;
}

.middle{
    margin-top: 3%;
    text-align: center;
}

.span{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: auto;
    font-size: 25px;
}

h5{
    margin-top: 3%;
}

hr{
    width: 30%;
    margin-bottom: 3%;
}

.btn-c{
color: white;
background-color: bisque;
}

.btn-c:hover{
    background-color: rgb(192, 162, 124);
    transition: 2s;
    box-shadow: 0px 0px 39px -10px #000000;
}

.card-h:hover{
    transition: 2s;
box-shadow: 0px 0px 39px -10px #000000;
}

.container{
    text-align: center !important;
}

.card-c{
    text-align: center !important;
    border: none !important;
}

.card-c img{
    width: 100px;
    
}

.card-c p{
    font-size: x-small;
}

.card-c:hover{
    color: bisque;
    transition: 1s;
}

.presentation{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

  
.presentation-text{
  float: left;
  width: 35%;
  margin-left: 32.5%;
  margin-right: 32.5%;
  height: auto;
}
.navbar-home{
    color: white;

}
.navbar-home:hover{
    color: gray;
    text-decoration: none;
    
}

.dropbtn {
    color: white;
    background-color: rgb(130, 94, 49);
    border: none;
    margin-left: 20px;
}

.dropdown {
    color: white;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  color: white;
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: rgb(130, 94, 49);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
  
  .dropdown-content a:hover {
    border-radius: 10px;
    color:gray;
    background-color: rgb(130, 94, 49)!important;
    text-decoration: none;
}

  .dropdown:hover .dropdown-content {
    border-radius: 10px;
    display: block;
}
  .dropdown:hover .dropbtn:hover {
    color: gray;
    background-color: rgb(130, 94, 49)!important;
}
.card-img-top{
height: 300px;

}

.icon{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color:#4b4c4d;
}
.icon:hover{
    color: #000000;
    text-decoration: none;
}
.a{
    text-align:center;
    font-size: 1.2rem;
    color:#000000;
    text-decoration: none;
}

.fot{
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  margin-top: 10px;
  background-color: white;
  color:#4b4c4d;
  text-decoration: none;
  border-top: 0.25px solid black;
}